@import helper._

@(reportForm: Form[_])

@inputHidden(reportForm("issueAccommodation"))
@inputHidden(reportForm("issueEmployment"))
@inputHidden(reportForm("issueFinance"))
@inputHidden(reportForm("issueRelationships"))
@inputHidden(reportForm("issueSubstanceMisuse"))
@inputHidden(reportForm("issueHealth"))
@inputHidden(reportForm("issueBehaviour"))
@inputHidden(reportForm("issueOther"))

@inputHidden(reportForm("issueAccommodationDetails"))
@inputHidden(reportForm("issueEmploymentDetails"))
@inputHidden(reportForm("issueFinanceDetails"))
@inputHidden(reportForm("issueRelationshipsDetails"))
@inputHidden(reportForm("issueSubstanceMisuseDetails"))
@inputHidden(reportForm("issueHealthDetails"))
@inputHidden(reportForm("issueBehaviourDetails"))
@inputHidden(reportForm("issueOtherDetails"))
