.idea/
target/
node_modules/
logs/
application.log
app.log.directory_IS_UNDEFINEDapp.log.name_IS_UNDEFINED
**/.DS_Store
run-locally.sh
/.sbt_completion_cache
/test/resources/esearchloader/uk-1000000.csv
