.govuk-box-border {
  border: 10px solid $turquoise;
  margin: 1em 0;
  padding: 2em 2em;
  background: transparent;
  text-align: left;
}

.govuk-interrupt {
  margin: 1em 0;
  padding: 40px;
  background: $govuk-blue;
  text-align: left;
  color: white;
  a {
    color: white !important;
  }
}

.notice.interrupt {
  background: $light-blue-25;
  .icon {
    margin-left: 15px;
  }
  strong {
    margin-left: 0;
    padding: 15px 15px 15px 60px;
  }
}

.search-hint-middle {
  padding: 25px 50px 0 70px;
  @include media(mobile) {
    padding: 5px 0 0 25px;
  }
}

.search-hint {
  position: relative;
  border: 1px solid;
  border-right: none;
  background: $grey-3;
  padding: 15px 30px 15px 15px;

  &:before {
    content: "";
    position: absolute;
    top: -1px;
    right: -26px;
    width: 26px;
    height: 53px;
    background: url("../images/search-help-border.png") no-repeat;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 50px;
    height: 52px;
    background: url("../images/icon-search-help.png") no-repeat;

    @include ie-lte(8) {
      display: none;
    }
  }
}
