input[type="text"], input[type="number"] {

  &.wide {
    width: 100%;
  }

  &.half-width {
    width: 50%;
  }

  &.quarter-width {
    width: 25%;
  }

  &.two-digit {
    width: 50px;
  }

  &.no-border {
    border: none;
  }
}

input[type="checkbox"] {
  @include ie(8) {
    filter: none !important;
    opacity: 1 !important;
  }
}

input[type="checkbox"].right {
  +label {
    span {
      padding-top: 4px;
      padding-right: 40px;
    }

    &:before {
      left: auto;
      right: 0;
    }
    &:after {
      left: auto;
      right: 8px;
    }
  }
}

// Bring inline with changes to GOV.UK Design System
.panel.panel-border-narrow.moj-reveal {
  margin-left: 15px;

  &.moj-reveal-reduce {
    margin-top: -15px;
  }
}

// Include support for inline radio buttons
.govuk-radios--inline {
  margin-bottom: 0;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .govuk-radios__item {
    margin-right: 20px;
    float: left;
    clear: none;
  }
}

.button {
  &.secondary {
    @include button($grey-3);
  }
}

.form-control.national-search {
  width: 100%;
  padding: 10px 20px 10px 20px;
}
