textarea , textarea.form-control {
  max-width: 100%;

  resize: none;
  border: 0;
  padding-left: 0;
  overflow: auto;

  &::placeholder {
    font-size: 25px;
  }

  &.wide {
    width: 100%;
  }
}

input[type="text"] {
  width: 100%; // Override default
}
