textarea , textarea.form-control {
  max-width: 100%;

  margin: 10px 0 0 0;
  resize: none;
  border: 0;
  padding-left: 0;
  overflow: auto;

  @include ie(8) {
    height: 8em;
    border: 2px solid !important;
  }

  &::placeholder {
    font-size: 25px;
  }

  &.wide {
    width: 100%;
  }
}

input[type="text"] {
  width: 100%; // Override default

  &.half-width {
    width: 50%;
  }
}

input[type="checkbox"] {
  @include ie(8) {
    filter: none !important;
    opacity: 1 !important;
  }
}

input[type="checkbox"].right {
  +label {
    span {
      padding-top: 4px;
      padding-right: 40px;
    }

    &:before {
      left: auto;
      right: 0;
    }
    &:after {
      left: auto;
      right: 8px;
    }
  }
}

.button {
  &.secondary {
    @include button($grey-3);
  }
}
