textarea.form-control {
  max-width: 100%;

  margin: 10px 0 0 0;
  resize: none;
  border: 0;
  padding-left: 0;
  overflow: auto;

  @include ie(8) {
    height: 8em;
    border: 2px solid !important;
  }

  &::placeholder {
    font-size: 25px;
  }

  &.wide {
    width: 100%;
  }

  &.classic {
    border: 2px solid $text-colour;
    min-height: 150px;
  }

  &.form-control-error {
    // border: 4px solid $error-colour;
  }
}

input[type="text"], input[type="number"] {
  width: 100%; // Override default

  &.half-width {
    width: 50%;
  }

  &.quarter-width {
    width: 25%;
  }

  &.two-digit {
    width: 50px;
  }

  &.no-border {
    border: none;
  }
}

input[type="checkbox"] {
  @include ie(8) {
    filter: none !important;
    opacity: 1 !important;
  }
}

input[type="checkbox"].right {
  +label {
    span {
      padding-top: 4px;
      padding-right: 40px;
    }

    &:before {
      left: auto;
      right: 0;
    }
    &:after {
      left: auto;
      right: 8px;
    }
  }
}

.button {
  &.secondary {
    @include button($grey-3);
  }
}

.form-control.national-search {
  width: 100%;
  max-width: 960px;
  padding: 10px 20px 10px 20px;
}