.icon {
  display: inline-block;
  width: 36px;
  height: 50px;
  margin-right: 15px;

  &.pdf {
    background: url("../images/icon_pdf.svg") no-repeat;
  }

  &.edit {
    background: url("../images/icon_edit.svg") no-repeat;
    width: 51px;
  }

  &.lock {
    background: url("../images/icon_lock.svg") no-repeat;
  }

  &.prev-arrow {
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: url("../images/icon-prev-arrow.gif") no-repeat bottom;
    background-size: contain;
  }
}

.spinner {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 5px;
  padding: 0;

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $grass-green;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }

  .double-bounce2 {
    background: transparent;
    &::before {
      display: inline-block;
      content: "";
      width: 20px;
      height: 20px;
      background: transparent url("../images/icon-tick.png") no-repeat;
    }
  }

  &.active {
    .double-bounce1, .double-bounce2 {
      opacity: 0.6;
      background-color: $mellow-red-50;
      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2.0s infinite ease-in-out;
    }
    .double-bounce2 {
      &::before {
        display: none;
      }
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
  }

  &.error {
    .double-bounce1 {
      opacity: 1;
      background-color: $error-colour;
    }
    .double-bounce2 {
      opacity: 1;
      background: transparent;
      &::before {
        display: inline-block;
        background: transparent url("../images/icon-cross.png") no-repeat;
      }
    }
  }
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
