body, html {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-spacing: 0;
}

td {
  vertical-align: top;
  border: none !important;
}

#content {
  height: 100%; // Override default
}

.inline {
  display: inline-block;
}

.js-hidden {
  display: none !important;
}

.report-image {
  width: 100%;
  height: 100%;
  max-width: 300px;

  @include media(mobile) {
    display: none;
  }
}

.list-bullet {
  padding-left: 0;
  margin-left: 20px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.no-pull-mobile {
  @include media(mobile) {
    float: none;
  }
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.margin-right {
  margin-right: 10px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.padding-top {
  padding-top: 10px;
  &.search {
    padding-top: 2em;
  }
}

.padding-bottom {
  padding-bottom: 10px;
  &.search {
    padding-bottom: 2em;
  }
}

.content-fixed {
  position: fixed;
  top: 0;
}

.shim {
  display: block;
}

.display-block {
  display: block;
}

.align-right {
  text-align: right;
}

.valign-bottom {
  vertical-align: bottom;
}

canvas {
  width: 100%;
  min-height: 200px;
}

.expand-content {

  &:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent $govuk-blue;
    margin-right: 10px;
  }

  &.active {
    &:before {
      border-width: 8.7px 5px 0 5px;
      border-color: $govuk-blue transparent transparent transparent;
    }
  }
}

dt {
  float: left;
  clear: left;
  width: auto;
  min-width: 130px;
}

dd {
  float: left;
}

.no-underline {
  text-decoration: none;
}

.relative {
  position: relative;
}