body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

textarea {
  max-width: 100%;

  &.wide, &.large {
    width: 100%;
  }
  &.large {
    min-height: 300px;
  }
}

input[type="text"] {
  width: 100%; // Override default
}

#content {
  height: 100%; // Override default
}

.inline {
  display: inline-block;
}

.js-hidden {
  display: none !important;
}
