
.organisation-logo {
  display: block;
  position: relative;
  padding: 40px 0 0 10px;
  background: url("../images/crests/org_crest_27px.png") no-repeat 6px top;
  background-size: auto 40px;
  border-left: #231f20 3px solid;
  font-size: 27px;
  line-height: 30px;

  @include media(mobile) {
    padding: 25px 0 0 7px;
    background-size: auto 25px;
    border-left: #231f20 2px solid;
    font-size: 18px;
    line-height: 20px;
  }
}