
.organisation-logo {
  display: block;
  position: relative;
  padding: 40px 0 0 10px;
  background: file-url("crests/org_crest_27px.png") no-repeat 6px top;
  background-size: auto 40px;
  border-left: #231f20 3px solid;
  font-size: 27px;
  line-height: 30px;
}