a, a:link, a:active, a:visited {
  color: $govuk-blue;
}

nav.content-fixed {
  margin-top: 20px;
}

.nav-header {
  border-top: $govuk-blue 10px solid;
  margin: 0 0 20px 0;
}

.nav-home {
  font-size: 16px;
  line-height: 1.25;
}

.nav-item {
  font-size: 16px;
  line-height: 1.25;
  &.active {
    color: inherit;
    pointer-events: none;
    text-decoration: none;
    cursor: default;
    &:hover {
      color: inherit;
    }
  }
  &.standard {
    font-size: inherit;
  }
}
