a, a:link, a:active, a:visited {
  color: $govuk-blue;
}

.nav-header {
  border-top: $govuk-blue 10px solid;
  margin: 2em 0 20px 0;
}

.nav-item {
  &.active {
    color: inherit;
    pointer-events: none;
    text-decoration: none;
    cursor: default;
    &:hover {
      color: inherit;
    }
  }
}
