.margin-top-0 {
  margin-top: 0;
}

.margin-top {
  margin-top: 10px;
  &.medium {
    margin-top: 20px;
  }
  &.large {
    margin-top: 30px;
  }
}

.margin-bottom {
  margin-bottom: 10px;
  &.medium {
    margin-bottom: 20px;
  }
  &.medium-important {
    margin-bottom: 20px !important;
  }
  &.large {
    margin-bottom: 30px;
  }
}