.font-xxsmall {
  @include core-14();
}

.bold-xxsmall {
  @include bold-14();
}

.page-ok-tag {
  @include phase-tag();
  background-color: $govuk-blue;
  margin: 0;
}

.page-invalid-tag {
  @include phase-tag();
  background-color: $error-colour;
  margin: 0;
}

.page-unstarted-tag {
  @include phase-tag();
  background-color: $orange;
  margin: 0;
}

.error-invalid {
  color: $error-colour;
}
