.font-xxsmall {
  @include core-14();
}

.bold-xxsmall {
  @include bold-14();
}

.page-status-tag {
  @include phase-tag();
  margin: 0;
  &.saved {
    background-color: $govuk-blue;
    margin: 0;
  }
  &.incomplete {
    background-color: $orange;
  }
  &.fixed-width {
    width: 135px;
    text-align: center;
  }
}

.error-invalid {
  color: $error-colour;
}
