@import java.util.regex.Pattern
@import java.util.regex.Matcher
@(elements: helper.FieldElements)

@htmlLines = @{elements.input.body.split("\n").map(_.trim).filterNot(_.isEmpty)}

@if(elements.input.body.contains("type=\"checkbox\"")) {
  @govukInfoErrors(elements)
  <div class="govuk-checkboxes__item multiple-choice" @for((key, value) <- elements.args if !key.name.startsWith("_")) { @{key.name}=@{value} }>
    <input class="govuk-checkboxes__input @elements.args.get('class)" type="checkbox" role="checkbox" id="@elements.id" name="@elements.field.name" value="true" @if(Boolean.parseBoolean(elements.field.value.getOrElse("false"))) { checked="checked" } aria-checked="@Boolean.parseBoolean(elements.field.value.getOrElse("false"))" aria-described-by="@elements.id-error" @if(elements.args.get('required)) {aria-required="@elements.args.get('required)"} @if(elements.args.get(Symbol("data-aria-controls"))) {data-aria-controls="@elements.args.get(Symbol("data-aria-controls"))"} />
    <label class="govuk-label govuk-checkboxes__label" for="@elements.id">
        <span class="form-label-bold">@elements.label</span>
    </label>
  </div>
  <div class="clearfix"></div>
  <div class="margin-top"></div>
} else if(elements.input.body.contains("type=\"radio\"")) {
    <div class="govuk-radios form-group@if(elements.hasErrors) { form-group-error govuk-form-group--error} @if(elements.args.get(Symbol("_inline"))) {govuk-radios--inline}"  >
        @govukInfoErrors(elements)
        @htmlLines.init.tail.grouped(2).map(_.mkString).map { radioAndLabel =>
            <div class="govuk-radios__item multiple-choice" @for((key, value) <- elements.args if !key.name.startsWith("_")) { @{key.name}=@{value} }>
            @{
                val matcher = Pattern.compile("value=\"(.*)\" ").matcher(radioAndLabel)
                matcher.find()
                val value = matcher.group(1)

                Html(radioAndLabel
                        .replace("checked=\"checked\"", "checked=\"checked\" aria-checked=\"checked\"")
                        .replaceFirst("data-aria-controls=\"(.*)\"/>", String.format("data-aria-controls=\"$1-%s\"/>", value))
                        .replace("<input ", "<input class=\"govuk-radios__input\" ")
                        .replace("<label ", "<label class=\"govuk-label govuk-radios__label\" ")
                )
            }

            </div>
        }
    </div>
} else {
  <div class="govuk-form-group form-group@if(elements.hasErrors) { form-group-error govuk-form-group--error}">
    @govukLabel(elements)
    @if(elements.input.body.contains("textarea id=")) {
      <span id="@elements.id-autosave_error" class="autosave-error-message error-message govuk-error-message js-hidden" aria-hidden="true">We can't currently save your report as the service is unavailable</span>
      <span>
        <textarea class="form-control govuk-textarea @elements.args.get('class)@if(elements.hasErrors) { form-control-error}" aria-label="@elements.label" role="textbox" placeholder="@if(elements.args.get('placeholder)) {@elements.args.get('placeholder)} else {Start typing here...}" id="@elements.id" name="@elements.field.name" @for((key, value) <- elements.args if !key.name.startsWith("_")) { @{key.name}=@{value} } aria-described-by="@elements.id-error" @if(elements.args.get('required)) {aria-required="@elements.args.get('required)"}>@elements.field.value</textarea>

        @if(elements.args.get(Symbol("data-limit"))) {
            <div class="pull-left js-hidden" id="@elements.id-countHolder">
                <p class="form-hint" id="@elements.id-count"></p>
            </div>
            <div class="clearfix"></div>
        }

      </span>
    } else if(elements.input.body.contains("select id=")) {
      <select class="form-control @elements.args.get('class)@if(elements.hasErrors) { form-control-error}" id="@elements.id" name="@elements.field.name">
          @htmlLines.filter(_.startsWith("<option ")).map(Html(_))
      </select>
    } else {
      <span>
        <input class="govuk-input form-control @elements.args.get('class)@if(elements.hasErrors) { form-control-error}" type="text" role="textbox" placeholder="@elements.args.get('placeholder)" id="@elements.id" name="@elements.field.name" value="@elements.field.value" maxlength="250" aria-described-by="@elements.id-error" @if(elements.args.get('required)) {aria-required="@elements.args.get('required)"} />
      </span>
    }
  </div>
}
