@(elements: helper.FieldElements)

@for(info <- elements.infos) {
    <span class="form-hint">@info</span>
}

@elements.args.get('_hint).map { hint =>
    <details class="govuk-details govuk-!-margin-bottom-0">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">What to include</span>
        </summary>
        <div id="hint_@elements.id" class="panel panel-border-narrow govuk-details__text">
            @hint
        </div>
    </details>
}

@for(error <- elements.errors) {
    <span class="error-message govuk-error-message" aria-hidden="true">@elements.args.getOrElse('_error, error)</span>
    <span id="@elements.id-error" role="alert" class="visually-hidden govuk-visually-hidden">Please enter @elements.label</span>
}
