@import org.webjars.play.WebJarsUtil
@import helpers.CallHelper.relative

@(title: String, banner: Boolean = true)(content: Html)(implicit webJarsUtil: WebJarsUtil)

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
    <head>

        <title>@title</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="x-ua-compatible" content="IE=edge" >

        <!--[if IE 8]><link rel="stylesheet" type="text/css" media="screen" href='@relative(routes.Assets.versioned("stylesheets/govuk-elements-styles-ie8.css"))' /><![endif]-->
        <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href='@relative(routes.Assets.versioned("stylesheets/govuk-elements-styles.css"))' /><!--<![endif]-->
        <!--[if IE 8]><link rel="stylesheet" type="text/css" media="all" href='@relative(routes.Assets.versioned("stylesheets/fonts-ie8.css"))' /><![endif]-->
        <link rel="shortcut icon" type="image/x-icon" href='@relative(routes.Assets.versioned("images/favicon.ico"))' />

    </head>
    <body>

        <!--[if lt IE 9]><script type="text/javascript" src='@relative(routes.Assets.versioned("javascripts/govuk/ie.js"))'></script><![endif]-->
        <script type='text/javascript' src='@relative(webJarsUtil.url("es5-shim", "es5-shim.js").get)'></script>
        <script type='text/javascript' src='@relative(webJarsUtil.url("es5-shim", "es5-sham.js").get)'></script>
        <script type='text/javascript' src='@relative(webJarsUtil.url("underscorejs", "underscore.js").get)'></script>
        <script type='text/javascript' src='@relative(webJarsUtil.url("jquery", "jquery.js").get)'></script>
        <!--[if gt IE 8]><!--><script type='text/javascript' src='@relative(webJarsUtil.url("jquery-ui", "jquery-ui.js").get)'></script><!--<![endif]-->

        <main id="content">

            @if(banner) {
                <div class="phase-banner">
                    <p><strong class="phase-tag">ALPHA</strong><span>This is a new service – your <a href="javascript:void(0);" class="feedback-link" title="feedback">feedback</a> will help us to improve it.</span></p>
                </div>
            }

            @content

            <div class="margin-top medium">&nbsp;</div>

        </main>

        <!--[if gt IE 8]><!--><script src='@relative(routes.Assets.versioned("javascripts/vendor/jquery/autosize.min.js"))' type="text/javascript"></script><!--<![endif]-->
        <script src='@relative(routes.Assets.versioned("javascripts/govuk/stick-at-top-when-scrolling.js"))' type="text/javascript"></script>
        <script src='@relative(routes.Assets.versioned("javascripts/show-hide-content.js"))' type="text/javascript"></script>
        <script src='@relative(routes.Assets.versioned("javascripts/govuk/accessible-autocomplete/accessible-autocomplete.min.js"))' type="text/javascript"></script>
        <script src='@relative(routes.Assets.versioned("javascripts/application.js"))' type="text/javascript"></script>

    </body>
</html>
