@import helper._

@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>

        <title>@title</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/govuk-elements-styles.css")">
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon.ico")">

    </head>
    <body>

        <main id="content">

            <div class="phase-banner">
                <p><a href="/"><strong class="phase-tag">ALPHA</strong></a><span>NDelius Document Generation Pre-Discovery</span></p>
            </div>

            <div class="margin-top medium">
                <h1><span class="organisation-logo"><span>Ministry<br>of Justice</span></span></h1>
            </div>

            @content

        </main>

        <script src="@routes.Assets.versioned("javascripts/vendor/jquery/jquery-1.12.4.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/govuk/show-hide-content.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/application.js")" type="text/javascript"></script>

    </body>
</html>
