@(implicit current: Int)

<div class="nav-header"></div>

<a href="/startReport">Start your report</a><br/>
@navigationEntry(1, "Offender Details")
@navigationEntry(2, "Sentencing Court Details")
@navigationEntry(3, "Sources of Information")
@navigationEntry(4, "Offence Details")
@navigationEntry(5, "Offender Assessment")
@navigationEntry(6, "Pattern of Offending")
@navigationEntry(7, "Risk Assessment")
@navigationEntry(8, "Risk of Serious Harm")
@navigationEntry(9, "Proposal")
@navigationEntry(10, "Signature")