@(implicit current: Int)

@entries = @{Seq(
    "Start your report",
    "Offender Details",
    "Sentencing Court Details",
    "Sources of Information",
    "Offence Details",
    "Offender Assessment - Issues",
    "Offender Assessment",
    "Pattern of Offending",
    "Risk Assessment",
    "Risk of Serious Harm",
    "Proposal",
    "Signature"
)}

<nav class="js-stick-at-top-when-scrolling">
    <div class="nav-header"></div>

    @for((entry, index) <- entries.zipWithIndex) {
        @navigationEntry(index + 1, entry)
    }

    @if(current < entries.length) {
        <div class="nav-header margin-top large"></div>
        <p class="font-xsmall">You can save your progress as a draft report and come back to it later</p>
        <a href="#" id="exitLink" class="nav-item">Save &amp; Exit</a>
    }
</nav>
