@(current: Int)

@renderNavigation(entries: Seq[String]) = {

    <nav class="js-stick-at-top-when-scrolling">

        @if(current - 1 < entries.length) {
            <a id="exitLink" href="javascript:void(0);" class="bold font-xsmall no-underline no-margin-top no-margin-bottom">Save a draft of this report</a>
        }

        <div class="clearfix"></div>

        <h3 class="font-xsmall bold margin-top medium">Report sections:</h3>

        <span class="display-block margin-top"></span>

        @for((entry, index) <- entries.zipWithIndex) {
            @navigationEntry(index + 2, entry, current)
        }

    </nav>
}

@navigationEntries(renderNavigation)
