.app-float-right {
  float: right;
  @include govuk-clearfix();
}

.moj-width-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-right: 0;
  margin-right: 0;
}

.moj-scroll-container {
  position: relative;
  width: 100%;
  height: calc(100% - 130px);
  overflow-x: hidden;
  overflow-y: scroll;

  padding-right: $govuk-gutter-half;

  @include govuk-media-query($from: tablet) {
    padding-right: $govuk-gutter;
  }
}

.govuk-width-container {
  // Left align since we are in an iframe within Delius
  @include govuk-media-query($and: "(min-width: #{($govuk-page-width + $govuk-gutter * 2)})") {
    margin: 0 $govuk-gutter;
  }
}

#content {
  padding-top: $govuk-gutter-half;
}

.app-float-left {
  float: left;
  @include govuk-clearfix();

  &.app-float-left__not-narrow {
    @include govuk-media-query(mobile, tablet) {
      display: block;
      float: none;
    }
  }
}

.app-position-relative {
  position: relative;
}

.app-clearfix {
  @include govuk-clearfix();
}