.app-national-search-filter {

  background-color: govuk-colour("grey-3");
  margin-bottom: 10px;

  button {
    z-index: 100;
    position: relative;
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: govuk-spacing(2);
    background: govuk-colour("grey-3") url(../images/accordion-arrow.png) no-repeat;

    &.open {
      background-position: right -50px;
    }

    &.closed {
      background-position: right -5px;
    }
  }

  .filter-container {
    border: govuk-colour("grey-3") 5px solid;
    border-top: 0;
    background-color: govuk-colour("white");
    max-height: 20vh;

    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    &.closed {
      display: none;
    }

    label {
      @include govuk-font($size: 16);
      display: block;
      padding: govuk-spacing(2) govuk-spacing(4);
      cursor: pointer;
      border-bottom: 1px govuk-colour("grey-3") solid;

      &:hover {
        background-color: govuk-colour("grey-4");
      }
    }

    .filter-option {
      float: left;
      width: 20px;
      height: 20px;
      margin-left: -10px;
    }
  }
}

.app-national-search-add {
  position: absolute;
  top: 35px;
  right: govuk-spacing(5);
  @include govuk-media-query(mobile, tablet) {
    position: relative;
    top: -10px;
    left: 0;
  }
}

.app-national-search-help {
  position: absolute;
  bottom: 0;
  right: 0;
  background: govuk-colour("black");
  padding: 15px 20px 20px 20px;
  margin-right: govuk-spacing(5);
  @include govuk-media-query(mobile, tablet) {
    position: relative;
    padding: 15px;
    margin-right: 0;
  }
}

.app-mark {
  background-color: mix(govuk-colour("yellow"), white, 25);
}

.app-risk-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0;
  padding: 0;

  &.app-risk-icon--green {
    background: govuk-colour("light-green");
  }

  &.app-risk-icon--amber {
    background: govuk-colour("yellow");
  }

  &.app-risk-icon--red {
    background: govuk-colour("bright-red");
  }
}

.app-icon {
  display: inline-block;

  &.app-icon__prev-arrow {
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: url("../images/icon-prev-arrow.gif") no-repeat bottom;
    background-size: contain;
  }
}

.app-search-hint-middle {
  padding: 25px 50px 0 70px;
}

.app-search-input {
  position: relative;
  height: auto;
  z-index: 1;
  @include govuk-media-query(mobile, tablet) {
    margin-bottom: 0;
  }
}

.app-search-hint {
  position: relative;
  border: 1px solid;
  border-right: none;
  background: govuk-colour("grey-3");
  padding: 15px 30px 15px 15px;

  &:before {
    content: "";
    position: absolute;
    top: -1px;
    right: -26px;
    width: 26px;
    height: 53px;
    background: url("../images/search-help-border.png") no-repeat;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 50px;
    height: 52px;
    background: url("../images/icon-search-help.png") no-repeat;
  }
}
