.app-offender-header {
  width: calc(100% - 205px);

  @include govuk-media-query(mobile, tablet) {
    width: 100%;
  }
}

.app-risk-alert {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  @include govuk-media-query(desktop) {
    max-width: 460px;
  }
}