.tox-statusbar {
  visibility: hidden;
}

.tox-tinymce--placeholder {
  position: relative !important;

  &::after {
    position: absolute;
    top: 5px;
    left: 0;
    pointer-events: none;
    display: inline-block;
    content: "Start typing here...";
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    color: govuk-colour("grey-2");
  }
}

.tox-editor-container {
  border: 3px solid white !important;

  &.tox-editor-container--prefilled {
    border: 2px solid black !important;
  }

  &.tox-tinymce--focus-rect {
    border-color: govuk-colour("yellow") !important;
  }
}

.moj-rich-text-editor {
  min-height: 50px;
  @include govuk-typography-common;

  p {
    @include govuk-responsive-padding(3, "bottom")
  }
}
