@import helper._
@import integration._

@()

@integration {

  <div class="iframe-container">
    <div class="content">
      <h1>Parent Integrating System</h1>
    </div>
    <iframe src="/report/shortFormatPreSentenceReport?name=Alan%20Smith&dateOfBirth=06/02/1976&age=41&address=1%20Albert%20Square,%20Manchester,%20Greater%20Manchester.%20M60%202LA&crn=G6534&pcn=98793030&court=Manchester%20and%20Salford%20Magistrates%20Court&dateOfHearing=12/01/2017&localJusticeArea=Greater%20Manchester"></iframe>
  </div>

  @helper.form(action = routes.IntegrationController.completed()) {
    @CSRF.formField

    <input type="hidden" id="message" name="message" />
  }

}
