@import "colours";
@import "measurements";
@import "typography";
.interrupt-panel {
  background-color: $govuk-blue;
  color: $white;
  padding: $gutter;
  margin-bottom: $gutter-one-quarter;
  .button {
    background-color: $white;
    color: $govuk-blue;
    padding-top: em(3);
    background-image: url("../images/icon-pointer-blue.png");

    @include device-pixel-ratio {
      background-image: url("../images/icon-pointer-blue.png");
    }

  }
  li {
    margin-bottom: $gutter;
  }
}

.highlight-border {
  border: $turquoise $gutter-one-third solid;
  padding: 0 2em 1em 2em;
}

.next-steps {
  #view-pdf, #edit-pdf, #close-report {
    padding-left: 4em;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: center;
    background-size: 55px 55px;
  }

  #view-pdf {
    background-image: url("../images/file-pdf.svg");
    @include ie-lte(8) {
      background-image: url("../images/file-pdf.png");
    }
  }
  #edit-pdf {
    background-image: url("../images/edit.svg");
    @include ie-lte(8) {
      background-image: url("../images/edit.png");
    }
  }
  #close-report {
    background-image: url("../images/list-alt.svg");
    @include ie-lte(8) {
      background-image: url("../images/list-alt.png");
    }
  }
  li {
    margin-bottom: $gutter * 2;
  }

  .nav-item {
    @include bold-24()
  }
}

.new-window {
  margin-top: $gutter-one-quarter;
  span {
    background-image: url("../images/new-window.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: em(20);
  }
}

.back-link {
  position: relative;
  padding-left: 15px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    border-style: solid;
    border-width: 6px 8px 6px 0;
    border-color: transparent $govuk-blue transparent transparent;
  }
}