@import "colours";
@import "measurements";
@import "typography";
@import "tooltip";
.interrupt-panel {
  background-color: $govuk-blue;
  color: $white;
  padding: $gutter;
  margin-bottom: $gutter-one-quarter;
  .button {
    background-color: $white;
    color: $govuk-blue;
    padding-top: em(3);
    background-image: url("../images/icon-pointer-blue.png");

    @include device-pixel-ratio {
      background-image: url("../images/icon-pointer-blue.png");
    }

  }
  li {
    margin-bottom: $gutter;
  }
}

.highlight-border {
  border: $turquoise $gutter-one-third solid;
  padding: 0 2em 1em 2em;
}

.next-steps {
  #view-pdf, #edit-pdf, #close-report {
    padding-left: 4em;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: center;
    background-size: 55px 55px;
  }

  #view-pdf {
    background-image: url("../images/file-pdf.svg");
    @include ie-lte(8) {
      background-image: url("../images/file-pdf.png");
    }
  }
  #edit-pdf {
    background-image: url("../images/edit.svg");
    @include ie-lte(8) {
      background-image: url("../images/edit.png");
    }
  }
  #close-report {
    background-image: url("../images/list-alt.svg");
    @include ie-lte(8) {
      background-image: url("../images/list-alt.png");
    }
  }
  li {
    margin-bottom: $gutter * 2;
  }

  .nav-item {
    @include bold-24()
  }
}

.new-window {
  margin-top: $gutter-one-quarter;
  span {
    background-image: url("../images/new-window.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: em(20);
  }
}

.back-link {
  position: relative;
  padding-left: 15px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    border-style: solid;
    border-width: 6px 8px 6px 0;
    border-color: transparent $govuk-blue transparent transparent;
  }
}

footer {
  &.report-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: $grey-2 1px solid;
    padding: $gutter-two-thirds;
    background: $white;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 999;

    .container {
      float: right;
      padding-right: $gutter;
    }
    .preview-container {
      float: left;
      padding-left: $gutter;
    }
  }
}

.form-group {
  .ql-container.ql-snow {
    border: none;
  }

  .ql-editor:focus {
    outline: 3px solid $focus-colour;
    outline-offset: 2px;
  }

  .ql-toolbar {
    visibility: hidden;
    margin-bottom: $gutter-one-third;
  }

  .ql-snow.ql-toolbar button.ql-active {
    background-color: $grey-3;
  }

  .ql-snow.ql-toolbar button.ql-active .ql-stroke {
    stroke: $black;
  }

  .ql-container {
    @include core-19();
  }

  .text-area-editor.form-control {
    width: 100%;
  }

  .ql-editor {
    .ql-align-justify {
      white-space: normal;
    }
  }
}

@-moz-document url-prefix() {
  .form-group {
    .ql-editor:focus {
      .ql-align-justify {
        white-space: inherit
      }
    }
  }
}

.small-margin-bottom {
  margin-bottom: $gutter-one-third;

}
.small-margin-top {
  margin-top: $gutter-one-third;
}

.notice {
  background-color: $light-blue-25;
  padding: $gutter-one-third;

  .icon {
    left: $gutter-one-third;
  }
}