// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/assets/images/";

// Import all the govuk-elements partials listed in _govuk-elements.scss
@import "govuk-elements";

// Import the project specific styles
@import "project/box";
@import "project/components";
@import "project/forms";
@import "project/icon";
@import "project/iframe";
@import "project/layout";
@import "project/lists";
@import "project/logo";
@import "project/navigation";
@import "project/spacing";
@import "project/typography";
@import "project/utils";
@import "project/widgets";
