@import "../../../node_modules/govuk-frontend/all";
@import "../../../node_modules/@mojdigital/pattern-library/all";
@import "calendar";
@import "quill";

.new-window {
  span {
    background-image: url("../images/new-window.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: 20px;
  }
}

.govuk-width-container {
  // Left align since we are in an iframe within Delius
  @include govuk-media-query($and: "(min-width: #{($govuk-page-width + $govuk-gutter * 2)})") {
    margin: 0 $govuk-gutter;
  }
}
#content {
  padding-top: $govuk-gutter-half;
}

.js-hidden {
  display: none;
}

.row-counting-table {
  counter-reset: rowNumber;
}

.row-counting-table tr {
  counter-increment: rowNumber;
}

.row-counting-table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
}

.offender-image {
  width: 120px;
  height: 150px;
  border: white 5px solid;
}