@import "react";
@import "measurements";
@import "conditionals";
@import "typography";
@import "grid_layout";
@import "colours/palette";

$offender-image-width: 120px;
$offender-image-height: 150px;

a.white {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

a.clickable {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

.risk-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.risk-icon.risk-green {
  background: #006435;
}

.risk-icon.risk-amber {
  background: #ffbf47;
}

.risk-icon.risk-red {
  background: #b10e1e;
}

.mark {
  background-color: #fff2d3;
}

.offenderDetailsRow {
  margin-bottom: $gutter;
}

.offender-summary {
  clear: none;
  padding-top: 0;
  min-height: $offender-image-height;
  margin-bottom: 0;
  padding-bottom: 0;

  @include media(mobile) {
    min-height: auto;
  }
  @include grid-column(3/4);

}

.offenderImageContainer {
  @include grid-column(1/4);
  max-width: $offender-image-width + $gutter;
  padding-left: 0;
  display: none;
  @include media(desktop) {
    display: block;
  }
}

.offenderImage {
  width: $offender-image-width;
  height: $offender-image-height;
}

.offender-summary-title {
  @include bold-27();
}

textarea.form-control {
  border: 2px solid #0b0c0c;
}

#content {
  max-width: none;
  margin-right: 0;
  margin-left: 0;
}

.key-content {
  @extend %site-width-container;
  &.search {
    padding: 20px 0;
    min-height: 155px;
    @include media(void, 845px) {
      min-height: 0;
    }
  }
}

.govuk-box-highlight {
  margin-top: 0;
  &.blue {
    background: #005ea5;
    text-align: left;
    padding: 0;
  }
}

.national-search-help {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  padding: 15px 20px 20px 20px;
  @include media(void, 845px) {
    position: relative;
    padding: 15px;
    display: block;
    left: -30px;
    width: 100vw;
  }
  @include media(mobile) {
    left: -20px;
  }
}

.national-search-add {
  position: absolute;
  top: 35px;
  right: 0;
  @include media(void, 845px) {
    position: relative;
    top: -10px;
  }
}

.phase-banner-boxed {
  border-bottom: none;
}

.search-results-title {
  color: $grey-2;
  font-weight: normal;
}

div.filter {
  background-color: $grey-3;
  margin-bottom: $gutter;

   @include media(desktop){
     ::-webkit-scrollbar {
       -webkit-appearance: none;
       width: 7px;
     }
     ::-webkit-scrollbar-thumb {
       border-radius: 4px;
       background-color: rgba(0,0,0,.5);
       -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
     }
   }

  button {
    z-index: 100;
    position: relative;
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin-bottom: -1px;
    padding: 5px 8px;
    background: url(../images/accordion-arrow.png) no-repeat right 5px;
    background-color: $grey-3;
  }

  button.closed {
    background-position: right -5px;
  }
  button.open {
    background-position: right -50px;
  }
  .filter-container {
    border: $grey-3 5px solid;
    background-color: $white;
    max-height: 20vh;

    @include media(mobile){
      height: auto;
      max-height: none;
    }
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    label {
      display: block;
      padding: $gutter-one-quarter $gutter-one-quarter $gutter-one-quarter $gutter;
      cursor: pointer;
      border-bottom: 1px $grey-2 solid;
    }

    label:hover {
      background-color: $grey-4;
    }

    .filter-option {
      float: left;
      width: 20px;
      height: 20px;
      margin-left: -$gutter-two-thirds;
    }

  }

  .filter-container.closed {
    display: none;
  }

}
.back-link {
  position: relative;
  padding-left: 15px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    border-style: solid;
    border-width: 6px 8px 6px 0;
    border-color: transparent $govuk-blue transparent transparent;
  }
}