@import "react";
@import "measurements";
@import "conditionals";
@import "typography";
@import "colours/palette";

$offender-image-width: 120px;
$offender-image-height: 150px;

.govuk-box-highlight.blue {
  background: #005ea5;
}

a.white {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

a.clickable {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

.form-control.padded {
  padding: 10px 20px 10px 20px;
}

.risk-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.risk-icon.risk-green {
  background: #006435;
}

.risk-icon.risk-amber {
  background: #ffbf47;
}

.risk-icon.risk-red {
  background: #b10e1e;
}

.mark {
  background-color: #fff2d3;
}

.offenderDetailsRow {
  margin-bottom: $gutter;
}

.offender-summary {
  clear: none;
  padding-top: 0;
  min-height: $offender-image-height;
}

.offenderImageContainer {
  margin-right: $gutter;
  max-width: $offender-image-width;
}

.offenderImageContainer {
  @include media(mobile) {
    display: none;
  }
}

.offenderImage {
  width: $offender-image-width;
  height: $offender-image-height;
}

.offender-summary-title {
  @include bold-27();
  word-wrap: break-word;
}

textarea.form-control {
  border: 2px solid #0b0c0c;
}

#content {
  max-width: none;
  margin-right: 0;
  margin-left: 0;

}

.key-content {
  margin-left: $gutter;
  margin-right: $gutter;
}

.govuk-box-highlight {
  margin-top: 0;
}

.phase-banner-boxed {
  border-bottom: none;
}

.search-results-title {
  color: $grey-2;
  font-weight: normal;
}