@import org.webjars.play.WebJarsUtil
@import helpers.CallHelper.relative
@import helper._

@this(webJarsUtil: WebJarsUtil)

@(defendant: Form[data.Defendant], matches: data.MatchedDefendants)

<!DOCTYPE html>
<html lang="en">
  <head>

    <title>HMPPS - National Search</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />

    <link rel="stylesheet" media="screen" href='@relative(routes.Assets.versioned("stylesheets/main.css"))' />
    <link rel="shortcut icon" type="image/x-icon" href='@relative(routes.Assets.versioned("images/favicon.ico"))' />

  </head>
  <body class="govuk-template__body">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="content" role="main">

        <div class="govuk-phase-banner">
          <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">spike</strong>
            <span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link feedback-link" href="#" target="_blank" id="feedbackForm" title="feedback">feedback</a> will help us to improve it.</span>
          </p>
        </div>
        <h1 class="govuk-heading-xl govuk-!-margin-top-6">Court defendant matcher</h1>
          <table class="govuk-table">
            <caption class="govuk-table__caption">Match confidence: @matches.getConfidence</caption>
            <thead class="govuk-table__head">
              <th class="govuk-table__header">Name</th>
              <th class="govuk-table__header">CRN</th>
              <th class="govuk-table__header">PNC Number</th>
              <th class="govuk-table__header">Date of birth</th>
              <th class="govuk-table__header">Address</th>
            </thead>
            <tbody class="govuk-table__body">
          @matches.getDefendants.map(offender =>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{offender.getSurname}, {offender.getFirstName}</td>
              <td class="govuk-table__cell">{offender.getCrn}</td>
              <td class="govuk-table__cell">{offender.getPncNumber}</td>
              <td class="govuk-table__cell">{offender.getDateOfBirth}</td>
              <td class="govuk-table__cell">{offender.getAddress}</td>
            </tr>)
            </tbody>
          </table>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-1">
            <form method="post">
              @CSRF.formField

              <div class="govuk-form-group">
                <label class="govuk-label" for="pncNumber">
                  <span>PNC Number</span>
                </label>
                <span id="pncNumber-hint" class="govuk-hint">
                  e.g. 2018/123456X
                </span>
                <input class="govuk-input govuk-!-width-one-half " role="textbox" placeholder="" id="pncNumber" name="pncNumber" value="@defendant("pncNumber").value" maxlength="250" aria-described-by="pncNumber-error" aria-required="true">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="firstName">
                  <span>First name</span>
                </label>
                <input class="govuk-input govuk-!-width-one-half " role="textbox" placeholder="" id="firstName" name="firstName" value="@defendant("firstName").value" maxlength="250" aria-described-by="surname-error" aria-required="true">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="surname">
                  <span>Surname</span>
                </label>
                <input class="govuk-input govuk-!-width-one-half " role="textbox" placeholder="" id="surname" name="surname" value="@defendant("surname").value" maxlength="250" aria-described-by="surname-error" aria-required="true">
              </div>
              <div class="govuk-form-group">

              <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend">
                  <span>Date of birth</span>
                </legend>
                <span id="dateOfBirth-hint" class="govuk-hint">
                  For example, 31 3 1980
                </span>
                <div class="govuk-date-input" id="dateOfBirth">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dateOfBirth-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dateOfBirth-day" name="dateOfBirth_day" type="number" pattern="[0-9]*" value="@defendant("dateOfBirth_day").value">
                    </div>
                  </div>

                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dateOfBirth-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dateOfBirth-month" name="dateOfBirth_month" type="number" pattern="[0-9]*" value="@defendant("dateOfBirth_month").value">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dateOfBirth-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4 " id="dateOfBirth-year" name="dateOfBirth_year" type="number" pattern="[0-9]*" value="@defendant("dateOfBirth_year").value">
                    </div>
                  </div>
                </div>
              </fieldset>
              </div>
              <div class="govuk-form-group">
                <button class="govuk-button govuk-!-margin-bottom-2" id="search" type="submit" aria-label="Search">
                  Search
                </button>
              </div>
            </form>
          </fieldset>

        </div>
      </main>
    </div>

    <script type="text/javascript">
    </script>
  </body>
  </html>
