@import helper._

@()

@main("Start your report") {

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Start your report</h1>

      <p class="lede">Use this service to record:</p>

      <ul class="list list-bullet">
        <li>Court appearance details</li>
        <li>Appearance Outcome details</li>
        <li>Subsequent court appearance details</li>
      </ul>

      <p>&nbsp;</p>

      <p>Completion takes around 5 minutes</p>

      <a href="/sampleReport" class="button button-start">Start now</a>

    </div>
    <div class="column-one-third">
      <p>&nbsp;</p>
    </div>
  </div>

}
