@import helper._
@import org.webjars.play.WebJarsUtil
@import com.typesafe.config.Config
@import helpers.CallHelper.relative
@import helpers.JsonHelper.stringify
@this(webJarsUtil: WebJarsUtil)(implicit configuration: Config)

@(probationAreas: Map[String, String])

@recentSearchMinutes = @{configuration.getInt("recent.search.minutes")}
@feedbackLink = @{configuration.getString("feedback.search.form.url")}
@offenderSummaryLink = @{configuration.getString("feedback.search.form.url")}

<!DOCTYPE html>

<html lang="en">
  <head>

    <title>HMPPS - National Search</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" media="screen" href='@relative(routes.Assets.versioned("stylesheets/govuk-elements-styles.css"))' />
    <link rel="stylesheet" media="screen" href='@relative(routes.Assets.versioned("stylesheets/national-search.css"))' />
    <link rel="shortcut icon" type="image/x-icon" href='@relative(routes.Assets.versioned("images/favicon.ico"))' />

    @googleAnalyticsHead()

  </head>
  <body>
    <div id="content"></div>

    <script>
      window.recentSearchMinutes = @recentSearchMinutes;
      window.probationAreas = @Html(stringify(probationAreas));
      window.feedbackLink = @Html(stringify(feedbackLink));
      window.offenderSummaryLink = '@relative(routes.OffenderSummaryController.index("", java.util.Optional.empty(), java.util.Optional.empty()))'
      window.featureOffenderSummary = '@{configuration.getString("feature.offender.summary")}'
    </script>

    <script src='@relative(webJarsUtil.url("underscorejs", "underscore.js").get)'></script>
    <script src='@relative(webJarsUtil.url("jquery", "jquery.js").get)'></script>
    <script src='@relative(routes.Assets.versioned("bundle.js"))'></script>

  </body>
  </html>
