@import helper._
@import org.webjars.play.WebJarsUtil
@import com.typesafe.config.Config
@import helpers.CallHelper.relative
@import helpers.JsonHelper.stringify
@this(webJarsUtil: WebJarsUtil)(implicit configuration: Config)

@(probationAreas: Map[String, String])

@recentSearchMinutes = @{configuration.getInt("recent.search.minutes")}
@feedbackLink = @{configuration.getString("feedback.form.url")}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>

    <title>HMPPS - National Search</title>
   <!--[if gt IE 8]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--<![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1" />

      <!--[if IE 8]><link rel="stylesheet" type="text/css" media="screen" href='@relative(routes.Assets.versioned("stylesheets/govuk-elements-styles-ie8.css"))' /><![endif]-->
      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href='@relative(routes.Assets.versioned("stylesheets/govuk-elements-styles.css"))' /><!--<![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" media="all" href='@relative(routes.Assets.versioned("stylesheets/fonts-ie8.css"))' /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" media="screen" href='@relative(routes.Assets.versioned("stylesheets/national-search-ie8.css"))' /><![endif]-->
    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href='@relative(routes.Assets.versioned("stylesheets/national-search.css"))' /><!--<![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href='@relative(routes.Assets.versioned("images/favicon.ico"))' />

    @googleAnalyticsHead()

  </head>
  <body>
    <div id="content"></div>

    <script type="text/javascript">
      window.recentSearchMinutes = @recentSearchMinutes;
      window.probationAreas = @Html(stringify(probationAreas));
      window.feedbackLink = @Html(stringify(feedbackLink));
    </script>

    <script type='text/javascript' src='@relative(webJarsUtil.url("es5-shim", "es5-shim.js").get)'></script>
    <script type='text/javascript' src='@relative(webJarsUtil.url("es5-shim", "es5-sham.js").get)'></script>
    <script type='text/javascript' src='@relative(webJarsUtil.url("react", "react.js").get)'></script>
    <script type='text/javascript' src='@relative(webJarsUtil.url("react", "react-dom.js").get)'></script>
    <script type='text/javascript' src='@relative(webJarsUtil.url("underscorejs", "underscore.js").get)'></script>
    <script type='text/javascript' src='@relative(webJarsUtil.url("jquery", "jquery.js").get)'></script>
    <script type='text/javascript' src='@relative(routes.Assets.versioned("bundle.js"))'></script>

  </body>
  </html>
