@import org.webjars.play.WebJarsUtil
@import helpers.CallHelper.relative
@this(webJarsUtil: WebJarsUtil)

@()

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>

    <title>HMPPS - National Search</title>
   <!--[if gt IE 8]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--<![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1" />

      <!--[if IE 8]><link rel="stylesheet" type="text/css" media="screen" href='@relative(routes.Assets.versioned("stylesheets/govuk-elements-styles-ie8.css"))' /><![endif]-->
      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href='@relative(routes.Assets.versioned("stylesheets/govuk-elements-styles.css"))' /><!--<![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" media="all" href='@relative(routes.Assets.versioned("stylesheets/fonts-ie8.css"))' /><![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href='@relative(routes.Assets.versioned("images/favicon.ico"))' />

  </head>
  <body>
    <div id="content" class="maintenance-mode">
      <h1 class="heading-medium">National Search</h1>
      <p>We are currently making changes to the National Search service. You should be able to use the service shortly. In the meantime please use the <a href="javascript:legacySearch()" tabindex="1">previous version</a></p>

    </div>

    <script type="text/javascript">
        function legacySearch () {
          parent.postMessage(JSON.stringify({ action: 'toggleSearch', data: null }), '*')
        }
    </script>


  </body>
  </html>
