@import helper._
@import org.webjars.play.WebJarsUtil
@import com.typesafe.config.Config
@import helpers.CallHelper.relative
@import helpers.JsonHelper.stringify
@this(webJarsUtil: WebJarsUtil)(implicit configuration: Config)


@feedbackLink = @{configuration.getString("feedback.offender.summary.form.url")}

<!DOCTYPE html>

<html lang="en">
  <head>

    <title>HMPPS - Offender Summary</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" media="screen" href='@relative(routes.Assets.versioned("stylesheets/main.css"))' />
    <link rel="shortcut icon" type="image/x-icon" href='@relative(routes.Assets.versioned("images/favicon.ico"))' />

    @googleAnalyticsHead()

  </head>
  <body>
    <div id="content"></div>

    <script type="text/javascript">
      window.feedbackLink = @Html(stringify(feedbackLink));
    </script>

    <script type='text/javascript' src='@relative(webJarsUtil.url("underscorejs", "underscore.js").get)'></script>
    <script type='text/javascript' src='@relative(routes.Assets.versioned("bundle.js"))'></script>

  </body>
  </html>
