@import helper._

@(parameters: String)

@main("Start your report - Short Format Pre Sentence Report", true) {

  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="lede">Use this report to record:</p>

      <ul class="list list-bullet">
        <li>Offender details</li>
        <li>Court appearance details</li>
        <li>Sources of information</li>
        <li>Offence details</li>
        <li>Offender assessment details</li>
        <li>Patterns of offending</li>
        <li>Risk assessment</li>
        <li>A proposed sentence<br/>
          (including length and any sentence components)</li>
      </ul>

      <p class="margin-top large">Completion can take around <span class="bold">30 minutes</span>.</p>

      <a class="button button-start margin-top large" href="/report/shortFormatPreSentenceReport?@parameters">Start now</a>

    </div>
    <div class="column-one-third">

      <img class="report-image" src="@routes.Assets.versioned("images/report_sfps.png")" alt="Short Format Pre-Sentencing Report" />

    </div>
  </div>

}
