@import helpers.CallHelper.relative
@import org.webjars.play.WebJarsUtil
@import java.text.SimpleDateFormat
@this(webJarsUtil: WebJarsUtil)

@(feedbacks: List[Map[String, Object]])

@df = @{new SimpleDateFormat("dd/MM/yyyy HH:mm")}

@display(feedback: Map[String, Object]) = {

  @(Option(feedback.get("feedback")), Option(feedback.get("dateTime"))) match {

    case (Some(detail: Map[String, String]), Some(dateTime: Date)) => {

      <tr>
        <td>@df.format(dateTime)</td>
        <td>
          <p>@feedback.get("username")</p>
          <p>@detail.get("email")</p>
        </td>
        <td>
          <p>@detail.get("role")</p>
          <p>@detail.get("provider")</p>
          <p>@detail.get("region")</p>
        </td>
        <td>@detail.get("rating")</td>
        <td width="40%">@detail.get("feedback")</td>
      </tr>
    }

    case (detail @ _, dateTime: Option[Date]) => {

      <tr>
        <td>@dateTime.map(df.format).getOrElse("")</td>
        <td>
          <p>@feedback.get("username")</p>
        </td>
        <td></td>
        <td></td>
        <td width="40%">@detail.getOrElse("")</td>
      </tr>
    }
  }
}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>

    <title>HMPPS - Short Format Pre-Sentence Report Feedback</title>
   <!--[if gt IE 8]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--<![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1" />

      <!--[if IE 8]><link rel="stylesheet" type="text/css" media="screen" href='@relative(routes.Assets.versioned("stylesheets/govuk-elements-styles-ie8.css"))' /><![endif]-->
      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href='@relative(routes.Assets.versioned("stylesheets/govuk-elements-styles.css"))' /><!--<![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" media="all" href='@relative(routes.Assets.versioned("stylesheets/fonts-ie8.css"))' /><![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href='@relative(routes.Assets.versioned("images/favicon.ico"))' />

    <style>
      table th, table td {
        border-bottom: 1px solid #bfc1c3 !important;
      }
    </style>
  </head>
  <body>
    <main id="content" style="max-width: 95%; width: 95%">

      <div class="phase-banner">
        <p><strong class="phase-tag">BETA</strong><span>This is a new service – your <a href="javascript:void(0);" class="feedback-link" title="feedback">Feedback</a> will help us to improve it.</span></p>
      </div>

      <h1 class="heading-xlarge">Short Format Pre-Sentence Report Feedback</h1>

      <table>
        <caption class="heading-small">Latest feedback</caption>
        <thead>
          <tr>
            <td>Submitted date</td>
            <td>Username / Email</td>
            <td>Role / Provider / Region</td>
            <td>Rating</td>
            <td>Additional comments</td>
          </tr>
        </thead>
        <tbody>
        @for(feedback <- feedbacks) {
          @display(feedback)
        }
        </tbody>
      </table>

    </main>
  </body>
  </html>
